footer.Footer#Footer 
    .boxes-container
        .box.logo
            a(href="#") #[i.fa.fa-shopping-basket] #[span Groco.]
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, fugiat.
            .icons 
                i.fab.fa-facebook-f
                i.fab.fa-twitter 
                i.fab.fa-instagram 
                i.fab.fa-linkedin-in 

        .box 
            h3 Contact Info
            .row 
                i.fa.fa-phone 
                p +20 1067421381
            .row 
                i.fa.fa-phone
                p +20 1554566092
            .row 
                i.fa.fa-envelope
                p(style="text-transform: lowercase !important" ) shehabayman365@gmail.com
            .row 
                i.fa.fa-map-marker-alt
                p Alexandria, Egypt - 400104

        .box 
            h3 Quick Links
            .row 
                i.fa.fa-arrow-right
                a(href="./home.html") Home
            .row 
                i.fa.fa-arrow-right
                a(href="./about.html") About
            .row 
                i.fa.fa-arrow-right
                a(href="./services.html") Services
            .row 
                i.fa.fa-arrow-right
                a(href="./blogs.html") Blogs
            .row 
                i.fa.fa-arrow-right
                a(href="./contact.html") Contact

        .letter-box 
            h3 New Letter
            p Subscribe For Latest Update
            form(action="#") 
                input(type="text", placeholder="Enter Your Email...")
                button.btn Subscribe
                img(src="../images/payment.png", alt="payment", style="padding: 40px 0; display: block")

    .footer
        p Created By #[span Mr. Shehab Ayman] | All Rights Reserved

