- let pageTitle = "About"
doctype html
html(lang="en")
    head
        include ../layout/head.pug
        title #{pageTitle} Page

    body.about 
        // ============================================ Header ==============================================
        include ../components/header.pug

        // ============================================ About ================================================
        section.About#About

        // ============================================ Footer ==============================================
        include ../components/footer.pug

        // ========================================== JavaScript ============================================
        include ../layout/js-links.pug
        script(type="module" src="../js/pages/about.js" defer) 
