doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact Page
        include ../layout/css-links.pug

    body.contact 
        // ============================================ Header ==============================================
        include ../components/header.pug

        // ============================================ Contact ================================================
        section.Contact#Contact

        // ============================================ Footer ==============================================
        include ../components/footer.pug

        // ========================================== JavaScript ============================================
        include ../layout/js-links.pug
        script(type="module" src="../js/pages/contact.js" defer) 
