- let pageTitle = "Contact"
doctype html
html(lang="en")
    head
        include ../layout/head.pug
        title #{pageTitle} Page

    body.contact 
        // ============================================ Header ==============================================
        include ../components/header.pug

        // ============================================ Contact ================================================
        section.Contact#Contact

        // ============================================ Footer ==============================================
        include ../components/footer.pug

        // ========================================== JavaScript ============================================
        include ../layout/js-links.pug
        script(type="module" src="../js/pages/contact.js" defer) 
