- let pageTitle = "Services"
doctype html
html(lang="en")
    head
        include ../layout/head.pug
        title #{pageTitle} Page

    body.services 
        // ============================================ Header ==============================================
        include ../components/header.pug

        // ============================================ Services ================================================
        section.Services#Services

        // ============================================ Footer ==============================================
        include ../components/footer.pug

        // ========================================== JavaScript ============================================
        include ../layout/js-links.pug
        script(type="module" src="../js/pages/services.js" defer) 
