link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
link(rel="stylesheet", href="../css/libs/BootStrap.css")
link(rel="stylesheet", href="../css/libs/Swiper.css")
link(rel="stylesheet", href="../css/libs/Select2.css")
link(rel="stylesheet", href="../css/libs/Aos.css")
link(rel="stylesheet", href="../css/style.css")
include ../helpers/mixins.pug
