//- Import Meta Tags In All Pages From Here
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

//- Import All Css Links In All Pages From Here 
link(rel="stylesheet", href="../css/libs/fontAwasome.css")
link(rel="stylesheet", href="../css/libs/BootStrap.css")
link(rel="stylesheet", href="../css/libs/Swiper.css")
link(rel="stylesheet", href="../css/libs/Select2.css")
link(rel="stylesheet", href="../css/libs/Aos.css")
link(rel="stylesheet", href="../css/style.css")

//- Import All The Mixins In All Pages From Here
include ../helpers/mixins.pug
