script(src="../js/libs/Jquary.js" defer) 
script(src="../js/libs/Swiper.js" defer) 
script(src="../js/libs/Aos.js" defer) 
script(src="../js/libs/BootStrap.js" defer) 
script(src="../js/libs/Select2.js" defer) 
